<main>
<div class="content">
  <div class="left">
    <p>Calendrier</p>

    <ion-card class="twoHour">
      <ion-card-header>
        <ion-card-title>
          <p style="text-align:left;">Cours
            <span style="float:right;">Salle :</span>
          </p>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="place">
        A22
      </ion-card-content>
      <ion-card-content class="name">
        R3.06 - Archi
      </ion-card-content>
      <ion-card-content class="schedule">
        9:00 - 11:00
      </ion-card-content>
    </ion-card>
       
    <ion-card class="oneHour">
      <ion-card-header>
        <ion-card-title>
          <p style="text-align:left;">Cours
            <span style="float:right;">Salle :</span>
          </p>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="place">
        A22
      </ion-card-content>
      <ion-card-content class="name">
        R3.06 - Archi
      </ion-card-content>
      <ion-card-content class="schedule">
        9:00 - 11:00
      </ion-card-content>
    </ion-card>

  </div>

  <div class="center">
    <div class="top">
      <p>Tâche en cours</p>
    </div>

    <div class="bottom">
      <p>DS à venir</p>
      <ion-button (click)="add()">Test</ion-button>
    </div>
  </div>

  <div class="right">
    <p>To-do list</p>
  </div>
</div>