<ion-header >
  <ion-toolbar  color="main-white">
    

  <ion-item class="profil" color="transparent" lines="none">
    <ion-avatar slot="start">
      <img src="../assets/icons/DaveAvatar.png" alt="DaveAvatar">
    </ion-avatar>
    <ion-label>David.</ion-label>
  </ion-item>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" size="small" name="stats-chart"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="icon-only"  size="small" name="people"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="statcard">
  <ion-card-header class="cardHead">
    <ion-title id="title">Productivity</ion-title>
    <ion-title id="more">more</ion-title>
  </ion-card-header>
<!--   
  <ion-card-content>
    <div class="progress">
      <div class="overflow">
    
      <div class="ext">
        <div class="inter">
          
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="80px">
        <defs>
          <linearGradient id="GradientColor">
            <stop offset="0%" stop-color="#DA22FF"/>
            <stop offset="100%" stop-color="#9733EE"/>
  
          </linearGradient>
  
        </defs>
        <circle cx="80" cy="80" stroke-linecap="round" r="70"></circle>
      </svg>
    
    </div>
    <div id="value">
      {{value}} %
  </div>
    </div>
  
  
  
  </ion-card-content> -->
</ion-card>

</ion-content>
