<main>
    <div class="navigation">
      <ul>
        <img class="logo" src="../../assets/logo.svg">
        <li class="list active">
          <a href="index.html">
            <span class="icon"><ion-icon name="home"></ion-icon></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li class="list">
          <a href="calendar.html">
            <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
            <span class="title">Calendar</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
            <span class="title">To-do list</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
            <span class="title">Settings</span>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
            <span class="title">Account</span>
          </a>
        </li>
      </ul>
    </div>
  
    <div class="content">
      <div class="left">
        <div class="journee">

          <ion-card class="twoHour">
            <ion-card-header>
              <ion-card-title>
                <p style="text-align:left;">Cours
                  <span style="float:right;">Salle :</span>
                </p>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="place">
              A22
            </ion-card-content>
            <ion-card-content class="name">
              R3.06 - Archi
            </ion-card-content>
            <ion-card-content class="schedule">
              9:00 - 11:00
            </ion-card-content>
          </ion-card>

          <ion-card class="twoHour">
            <ion-card-header>
              <ion-card-title>
                <p style="text-align:left;">Cours
                  <span style="float:right;">Salle :</span>
                </p>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="place">
              A22
            </ion-card-content>
            <ion-card-content class="name">
              R3.06 - Archi
            </ion-card-content>
            <ion-card-content class="schedule">
              9:00 - 11:00
            </ion-card-content>
          </ion-card>

          <ion-card class="twoHour">
            <ion-card-header>
              <ion-card-title>
                <p style="text-align:left;">Cours
                  <span style="float:right;">Salle :</span>
                </p>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="place">
              A22
            </ion-card-content>
            <ion-card-content class="name">
              R3.06 - Archi
            </ion-card-content>
            <ion-card-content class="schedule">
              9:00 - 11:00
            </ion-card-content>
          </ion-card>

          <ion-card class="twoHour">
            <ion-card-header>
              <ion-card-title>
                <p style="text-align:left;">Cours
                  <span style="float:right;">Salle :</span>
                </p>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="place">
              A22
            </ion-card-content>
            <ion-card-content class="name">
              R3.06 - Archi
            </ion-card-content>
            <ion-card-content class="schedule">
              9:00 - 11:00
            </ion-card-content>
          </ion-card>

          <ion-card class="twoHour">
            <ion-card-header>
              <ion-card-title>
                <p style="text-align:left;">Cours
                  <span style="float:right;">Salle :</span>
                </p>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="place">
              A22
            </ion-card-content>
            <ion-card-content class="name">
              R3.06 - Archi
            </ion-card-content>
            <ion-card-content class="schedule">
              9:00 - 11:00
            </ion-card-content>
          </ion-card>

        </div>
      </div>
      <div class="center">
        <div class="top">
          <p>Tâche en cours</p>
        </div>
        <div class="bottom">
          <p>DS à venir</p>
        </div>
      </div>
      <div class="right">

        <ion-card class="twoHour">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>
        <ion-card class="twoHour">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
    </div>
  </main>