<ion-content [fullscreen]="true">
	<div class="background">
		<ion-list class="form" lines="none">
			<h2>Créer une nouvelle tâche</h2>
			<ion-item fill="outline" class="input">
				<ion-label position="floating">Nom :</ion-label>
				<ion-input placeholder=""></ion-input>
			</ion-item>
			<ion-item fill="outline" class="input">
				<ion-label position="floating">Heure de début :</ion-label>
				<ion-input placeholder=""></ion-input>
			</ion-item>
			<ion-item fill="outline" class="input">
				<ion-label position="floating">Durée :</ion-label>
				<ion-input placeholder=""></ion-input>
			</ion-item>
			<ion-item class="plus">
				<ion-checkbox slot="start" (click)="tutorialShown = !tutorialShown"></ion-checkbox>
				<ion-label>Plus d'options</ion-label>
			</ion-item>
			<div class="mask" *ngIf="tutorialShown; else elseBlock" >
				<ion-item fill="outline" class="input">
					<ion-label position="floating">Catégorie :</ion-label>
					<ion-input placeholder=""></ion-input>
				</ion-item>
				<ion-item class="input">
					<ion-select placeholder="Ponctuel" interface="popover">
						<ion-select-option value="yes">Oui</ion-select-option>
						<ion-select-option value="no">Non</ion-select-option>
					</ion-select>
				</ion-item>
				<ion-item class="input">
					<ion-select interface="popover" placeholder="Fréquence">
						<ion-select-option value="daily">Quotidien</ion-select-option>
						<ion-select-option value="everyTwoDay">Tout les 2 jours</ion-select-option>
						<ion-select-option value="weekly">Toutes les semaines</ion-select-option>
					</ion-select>
				</ion-item >
			</div>
			<ng-template #elseBlock>
			</ng-template>
			<ion-button class="button" shape="round">Créer</ion-button>
		</ion-list>
	</div>
</ion-content>