.background{
    background-color: #454A50;
    height: 100%;
    padding: 50px;
} 

.form{
    background-color:#FAEEE7;
    width: 500px;
    border-radius: 20px;
    margin: auto;
}    

h2{
    font-size: medium;
    width: fit-content;
    padding: 8px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    background-color: #1B1F24;
    color:#FAEEE7 ;
    border-radius: 20px;

} 

.input{
    margin: 15px;
    --background: #454A50;
    --color: #FAEEE7;
    --border-width: 2px;
    --border-radius: 5px;
} 

.button{
    margin: auto;
    display: block;
    width: fit-content;
    margin-bottom: 15px;
    --background: #FF593F;
    --color: #FAEEE7;
} 

.plus{
    --background: #FAEEE7;
    --color: #454A50;
}
