
#compte{
    --border-radius: 20px;

}
.options{
    --border-radius: 20px;

    ion-item{
        --background: #333333;
        --color: #fff;
      
        
      
        
        --detail-icon-color: #D9D9D9;
        --detail-icon-opacity: 1;
        --detail-icon-font-size: 20px;
    }
}