<div class="navigation">
  <ul>
    <img class="logo" src="../assets/logo.svg">
    <li class="list active">
      <!--
      <ion-button [routerLink]="['..SZ']">
        Home
        <ion-icon slot="start" name="home"></ion-icon>
      </ion-button>-->
      
      
      
      <a routerLink="home">
        <span class="icon"><ion-icon name="home"></ion-icon></span>
        <span class="title">Home</span>
      </a>
      
    </li>

    <li class="list">
      <a routerLink="content-calendar">
        <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
        <span class="title">Calendar</span>
      </a>
    </li>

    <li class="list">
      <a routerLink="#">
        <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
        <span class="title">To-do list</span>
      </a>
    </li>

    <li class="list">
      <a routerLink="#">
        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
        <span class="title">Settings</span>
      </a>
    </li>
    
    <li class="list">
      <a routerLink="#">
        <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
        <span class="title">Account</span>
      </a>
    </li>
  </ul>

  <div>
    <ion-router-outlet></ion-router-outlet>
  </div>
</div>