<ion-content color="main-white" >
	<div class="container">
		
		<div class="BHLogo">
			<img class="destopImg" src="assets/icons/Logo.svg">
		</div>
		<div class="login-content">
			<!-- <form [formGroup]="credentials" (ngSubmit)="login()" action="index.html">
				<div><img src="assets/icons/Logo.svg" class="popo">
					<h2 class="title">Welcome</h2>
				</div>
			
           		<div class="input-div one">
					<app-input #mailInput  label="Mail or Username" formCtrl="email"></app-input>
           		</div>
           		<div class="input-div pass">
					<app-input label="Password" id="password" type="password" formCtrl="password"></app-input>
            	</div>
				<a class="forgot" href="#">Forgot your password?</a>
            	<div class="bottom">
					
					<a class="signup" (click)="navigateToSignUpPage()">Dont’t have an account? <strong>Register</strong> </a>
					<input type="submit" class="btn" value="Login">
				</div>
            </form> -->

			<form (ngSubmit)="login()" [formGroup]="credentials">
				<div>
					<img src="assets/icons/Logo.svg" class="popo">
					<h2 class="title">Stormy.</h2>
				</div>
				<ion-item class="input-div one" fill="solid">
					<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
					<ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"
						>Email is invalid</ion-note
					>
				</ion-item>
				<ion-item class="input-div pass" fill="solid">
					<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
					<ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors"
						>Password needs to be 6 characters</ion-note
					>
				</ion-item>
				<a class="forgot" href="#">Forgot your password?</a>
				<ion-button  class="btn" type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
				<ion-button class="signup" type="button" expand="block" color="secondary" (click)="register()"
					>Create account</ion-button
				>
			</form>
        </div>
    </div>
</ion-content>
