<main>

  

  <div class="content">
    <div class="main">
      <div id = "change">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <cejeuneDave> du XX au XX </cejeuneDave>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class ="journee">Lundi

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="journee">Mardi

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="journee">Mercredi

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="journee">Jeudi

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="journee">Vendredi

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="journee">Samedi

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="journee">Dimanche

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

        <ion-card class="edt">
          <ion-card-header>
            <ion-card-title>
              <p style="text-align:left;">Cours
                <span style="float:right;">Salle :</span>
              </p>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="place">
            A22
          </ion-card-content>
          <ion-card-content class="name">
            R3.06 - Archi
          </ion-card-content>
          <ion-card-content class="schedule">
            9:00 - 11:00
          </ion-card-content>
        </ion-card>

      </div>
      <div class ="vide"></div>
      </div>
    </div>

</main>

